{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Event Type</th>
                <th scope="col">Time</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Name</th>
                <th scope="col">Bio</th>
                <th scope="col">Prompt</th>
                <th scope="col">Response</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.event }}</td>
                    <td>{{ event.time }}</td>
                    <td>{{ event.username|default_if_none:"-" }}</td>
                    <td>{{ event.password|default_if_none:"-" }}</td>
                    <td>{{ event.name|default_if_none:"-" }}</td>
                    <td>{{ event.bio|default_if_none:"-" }}</td>
                    <td>{{ event.prompt|default_if_none:"-" }}</td>
                    <td>{{ event.response|default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
